.navbar-appBar {
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* First section in the navbar */
.title-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.logo-box {
  display: flex;
  gap: 10px;
}

.navbar-logo {
  width: 35px;
}

.reddit {
  font-size: 25px !important;
  font-family: cursive !important;
}

.home-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-caption {
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 500 !important;
}

.home-icon {
  font-size: 27px !important;
}

/* search input */
.MuiOutlinedInput-root {
  height: 30px;
  width: 500px;
}

.MuiOutlinedInput-root ::placeholder {
  font-family: cursive;
}

/* Last section */
.navbar-buttons-container {
  display: flex;
  gap: 20px;
}

/* When the user Logged */
.navbar-userContainer {
  display: flex;
  gap: 30px;

}

.navbar-userInfo {
  display: flex;
  gap: 8px;
}

.navbar-userInfo .username {
  font-size: 13px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.navbar-userInfo .karma {
  font-size: 12px;
  color: #a8aaab;
  width: 100%;
  text-align: start ;
}

.navbar-userImage {
  width: 30px;
}

.button-menu {
  border: none;
  background-color: white;
  cursor: pointer;
} 

.KeyboardArrowDownIcon {
  color: black;
  font-Size:25px;
}
